{% extends "starter/base.html" %}
{% load staticfiles %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'movies/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'movies/list.css' %}" />

	<div class="movies-view">

		<h1 class="movies-view-title">Browse Movies</h1>
		{% if movie_list %}
			<div class="movies-list">
						<ul class="flex-container">
							{% for movie in movie_list %}
							<a class="movie-block card" href="/movies/{{ movie.id }}/">
								<li>
										<img class="movie-poster" src="{{ movie.poster }}"></img>
										<div class="movie-title"href="">{{ movie.title }}</div>
								</li>
							</a>
							{% endfor %}
						</ul>
			</div>

		{% else %}
			<p>No movies are available.</p>
		{% endif %}

	</div>

{% endblock %}
