/*Movie Detail View Styles
=====================================*/

ul {
	text-align: left;
	font-weight: bold;
}
p {
	font-size: 14px;
}

.movie-detail-view h1,
.movie-detail-view h2,
.movie-detail-view h4,
.movie-detail-view p,
.movie-detail-view span {
	font-weight: 300;
	color: rgb(230,230,230);
	letter-spacing: .03em;
}

.movie-detail-view {
	padding: 0px 20px;
}

.movie-container {
	text-align: center;
	margin-bottom: 20px;
}

.movie-description {
	width: 100%;
	margin: auto;
	min-height: 280px;
}

.movie-title {
	margin-bottom: 20px;
}

.bubble {
	margin: 20px 10px 20px 0px;
	border-radius: 5px;
	padding: 5px;
}

.bubble h4 {
	font-size: 18px;
}

.info .card {
	height: 180px;
	margin: 20px 0px 0px 15px;
}

.back-link {
	margin: 0px 20px 20px 0px;
	/*font-size: 18px;*/
}

.back-link>a{
	color: rgb(230,230,230);
}

.image-container {
	margin: auto;
	text-align: right;
	height: 280px;
}

img {
	height: 100%;
}

.synopsis {
	max-height: 280px;
	text-align: justify;
	overflow: auto;
}
