/*Movie Detail View Styles
=====================================*/

ul {
	text-align: left;
	font-weight: bold;
}
p {
	font-size: 18px;
}

.movie-detail-view h1,
.movie-detail-view h2,
.movie-detail-view h4,
.movie-detail-view p,
.movie-detail-view span {
	font-weight: 300;
	color: rgb(10,10,10);
	letter-spacing: .03em;
}

.movie-detail-view {
	padding: 50px;
}

.movie-description {
	width: 100%;
	margin: auto;
	height: 500px;
}

.movie-title {
	margin-bottom: 20px;
}

.bubble {
	margin: 20px 10px 20px 0px;
	border: solid rgb(30,30,30) 1px;
	border-radius: 5px;
	padding: 5px;
}

.bubble h4 {
	font-size: 22px;
}

.back-link {
	margin: 0px 20px 20px 0px;
	font-size: 18px;
}

.back-link>a{
	color: rgb(230,230,230);
}

.image-container {
	margin: auto;
	text-align: right;
}

img {
	height: 100%;
}

.synopsis {
	height: 100%;
	text-align: justify;
	overflow: auto;
}
